*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
    --primary-color: #ef5350;
    --primary-light-color: #ff867c;
    --primary-dark-color: #b61827;
    --primary-text-color: #102027;
}

/* BODY */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-width: 325px;
    min-height: 100%;
    color: var(--primary-text-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
}

/* TITLE PAGE */

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 2.6rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    background-color: var(--primary-dark-color);
    border-top: 3px solid var(--primary-text-color);
    border-bottom: 3px solid var(--primary-text-color);
}

#pomodoro-word-title {
    margin-right: 1rem;
    color: var(--primary-light-color);
    text-shadow: 1px 1px var(--primary-text-color);
}

#timer-word-title {
    margin-left: 1rem;
    color: var(--primary-text-color);
    text-shadow: 1px 1px var(--primary-light-color);

}

/* TITLES */

h2 {
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: 2rem;
    text-align: center;
}

/* ALL BUTTONS */

button {
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
    background-color: var(--primary-light-color);
    border: solid 3px var(--primary-text-color);
    border-radius: 10px;
}

/* SESSION AND BREAK CONTAINERS */

#session-and-break-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-width: 1300px;
}

#session-display,
#break-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    max-width: 350px;
    background-color: var(--primary-dark-color);
    border: solid 3px var(--primary-text-color);
    border-radius: 1.75rem;
}

#session-layout,
#break-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-weight: bolder;
}

#session-displayed-number,
#break-displayed-number {
    color: var(--primary-light-color);
    font-size: 4rem;
    text-shadow: 1px 1px var(--primary-text-color);
}

/* TIMER DISPLAY */

#timer-display {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    max-width: 650px;
    height: 100%;
    padding: 2rem 0;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: var(--primary-dark-color);
    border: solid 3px var(--primary-text-color);
    border-radius: 1rem;
}

#timer-layout-up {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bold;
}

#minutes-seconds-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 10rem;
    text-shadow: 2px 2px var(--primary-light-color);
}

#timer-layout-down {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bold;
}

/* TOMATO ICON */

#tomato-icon {
    width: 10%;
    max-width: 125px;
}

/*** MEDIA QUERIES - Min Width - 600px ***/

@media only screen and (min-width: 600px) {

    h1 {
        font-size: 5rem;
    }
}
